
/*misc*/
*{
	/*border: 1px dotted red !important;*/
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix {
  overflow: hidden;
}
strong{
	font-weight: bold;
}
li{
	margin: 10px 10px;
}
li, #copyright{
	color: #666;
}
/*grid*/
/*clear anything after a grid*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.col {
	float: left;
}

/*columns*/

/*top stories columns*/
@media screen and (max-width: 781px){
	#top-stories .col{
		width: 100%;
		height: 25%;
		background-size: 100% auto;
	}
	#top-stories{
		font-size: 1.3em;
	}
	/*footer response*/
	footer{
		position: relative;
	}
	#footer-top, #footer-bottom{
		text-align: center;
	}
	#footer-quote{
		border-top: 1px solid #444;
	}
	.share-button{
		border-bottom:  1px solid #444;
	}
	#maxcdn{
		float: right;
	}

}
@media screen and (min-width: 781px) and (max-width: 1040px){
	#top-story-0{
		background-size:  100% auto;
		width: 100%;
		height: 50%;
	}
	#top-story-1, #top-story-2, #top-story-3{
		width: 33.3%;
		height: 50%;
		background-size: auto 100%;
	}
	#top-stories h1{
		font-size: 1.9em;
	}
	#top-stories h2, #top-stories h3{
		font-size: 1.3em;
	}

}
@media screen and (min-width: 1040px) {
	#top-story-0 {
		background-size: auto 100%;
		width: 50%;
		height: 100%;
	}
	#top-story-1{
		width: 50%;
		height: 50%;
		background-size: 100% auto;
	}
	#top-story-2, #top-story-3{
		width: 25%;
		height: 50%;
		background-size: auto 100%;
	}
	#top-stories h1{
		font-size: 1.9em;
	}
	#top-stories h2{
		font-size: 1.5em;
	}
	#top-stories h3{
		font-size: 1.3em;
	}
}

/*latest-news columns*/
@media screen and (max-width: 653px){
	#latest-news .col{
		width: 50%;
	}	
}
@media screen and (min-width: 653px) and (max-width: 720px){
	#latest-news .col{
		width: 33.3%;
	}	
}
@media screen and (min-width: 720px) and (max-width: 942px){
	#latest-news .col{
		width: 25%;
	}	
}
@media screen and (min-width: 942px) and (max-width: 1165px){
	#latest-news .col{
		width: 20%;
	}	
	#latest-news .col:nth-child(n+12){
		display: none;
	}
}
@media screen and (min-width: 1165px){
	#latest-news .col{
		width: 16.66%;
	}	
}

/*categories columns*/

@media screen and (max-width: 720px){
	#latest-news .img-thumb{
		width: 100%;
		height: 100px;
		background-size: 100% auto;
	}
	#categories .col, #latest-deals .col{
		width: 100%;	
		height: 80px;	
	}
	#categories .img-thumb, #latest-deals .img-thumb{
		height: 100%;
		width: 25%;
		float: left;
	}
	#categories .img-thumb{
		background-size: 100% auto;
	}
	#latest-deals .img-thumb{
		background-size: 100% auto;
	}

	#categories .first-col, #latest-deals .first-col{
		height: 340px;
	}
	#categories .first-col .img-thumb, #latest-deals .first-col .img-thumb{
		height: 80%;
		width: 100%;
	}
	.col{
		padding: 5px 5px;
	}
	#top-stories h1, #top-stories h2, #top-stories h3{
		bottom: 5px;
		left: 5px;
		right: 5px;
	}
	/*mobile response (headers)*/
	#header-nav{
		display: none;
	}
	.category-header{
		position: relative;
		margin-top: 10px;
		color: #fff;
		background: #f00;
		padding: 5px 5px;
	}
	.category-header h1{
		float: left;
		font-size: 1em;
		font-weight: bold;
	}
	.category-header .arrow{
		float: right;
	}
	.category-header h2{
		display: none;
	}
	[class*='img-caption']{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#categories .col:not(.first-col) .img-caption1, #latest-deals .col:not(.first-col) .img-caption1{
		height: 65%;
	} 
	#categories .col:not(.first-col) .img-caption2, #latest-deals .col:not(.first-col) .img-caption2{
		height: 35%;
	} 
	#categories .col:not(.first-col) [class*='img-caption'], #latest-deals .col:not(.first-col) [class*='img-caption']{
		float: right;
		width: 75%%;
		padding-left: 5px;
		padding-right: 5px;
	}
}
/*mobile response*/
@media screen and (min-width: 720px){
	.col{
		padding: 10px 10px;
	}
	#top-stories h1, #top-stories h2, #top-stories h3{
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
	.img-thumb{
		width: 100%;
		height: 100px;
	}

	#latest-news .img-thumb{
		background-size: auto 100%;
	}
	#categories .img-thumb{
		background-size: 100% auto;
	}
	#latest-deals .img-thumb{
		background-size: 100% auto;
	}

	[class*='img-caption']{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	/*mobile response (headers)*/
	.category-header{
		padding: 20px 10px;
		color: #f00;
	}
	.category-header h1{
		float: left;
		font-size: 2em;
		font-weight: bold;
	}
	.category-header .arrow{
		float: right;
	}
	.category-header h2{
		float: right;
		font-size: 1em;
	}
}
@media screen and (min-width: 720px) and (max-width: 1036px){
	#categories .col, #latest-deals .col{
		width: 33.3%;		
	}
	#categories .col:nth-child(n+5){
		display: none;
	}
	#latest-deals .col:last-child{
		display: none;
	}
}
@media screen and (min-width: 1036px) and (max-width: 1200px){
	#categories .col, #latest-deals .col{
		width: 25%;		
	}
	#categories .col:last-child{
		display: none;
	}
	#latest-deals .col:nth-child(n+10){
		display: none;
	}
}
@media screen and (min-width: 1200px){
	#categories .col, #latest-deals .col{
		width: 20%;		
	}
}

/*footer response*/
@media screen and (min-width: 781px){
	#footer-logo, #footer-nav-social-media, #footer-quote, #footer-bottom .share-button, #copyright{
		float: left;
		clear: left;
	}
	#footer-nav, #maxcdn{
		float: right;
		clear: right;
	}	
	#footer-nav li{
		float: left;
	}
	#footer-top{
		height: 100px;
	}
	#footer-bottom{
		height: 100px;
	}
	#copyright{
		width: 100%;
		border-top: 1px solid #444;
		margin: 20px 0;
	}
}


/*main sections*/

header{
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	z-index: 1;
}
.logo{
	background: #e00;
	color: #fff;
	position: absolute;
	height: 50px;
	font-size: 2em;
	padding: 10px 10px;
}
#header-nav{
	color: #888;
	font-size: 2em;
	height: 50px;
	line-height: 50px;
}
#main{
	background: #eee;
	margin-top: 50px;
}
#top-stories{
	color: #fff;
	height: 500px;
	overflow: auto;
}
#top-stories .col{
	position: relative;
}
#top-stories h1, #top-stories h2, #top-stories h3{
	padding: 5px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
}
#top-story-0{
	background-image: url("../img/Facebook-Live-Video-520x347.jpg");
}
#top-story-1{
	background-image: url("../img/Robin_feat-1200x600.jpg");
}
#top-story-2{
	background-image: url("../img/truecaller-768x384.jpg");
}
#top-story-3{
	background-image: url("../img/5445598436_ed6c25de1f_o_Anonymous-1200x600.jpg") ;
}
#alert-banner{
	background: yellow;
	text-align: center;
	padding: 20px 20px;
	margin: 5px 0;
}
#main-stories{
	background: #fff;
}
#categories, #latest-deals{
	padding-bottom: 10px;
}
#latest-news .grid, #categories .grid{
	width: 90%;
	margin: 0 auto;
}
#latest-deals{
	background: #fff;
}
/*images*/
.img-thumb, #top-stories .col{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-clip: content-box;
}
#latest-news .img-thumb{
	background-image: url("../img/kanye-west-768x384.jpg");
}
#categories .img-thumb{
	background-image: url("../img/comcast-cable-box-by-mr-t-in-dc-520x346.jpg");
}
#latest-deals .img-thumb{
	background-image: url("../img/Google--520x361.jpg");
}
.img-caption1, .img-caption2 {
	background: #fff;
}
footer{
	background: #000;
	color: #bbb;
}
#footer-top div{
	padding: 10px 10px;
}
#footer-bottom div{
	padding: 10px 10px;		
}
#maxcdn{
	background-image: url("../img/maxcdn.png");
	background-size: 100% 100%;
	background-position: 50% 50%;
	width: 110px;
	height: 120px;
}